<div class="page" data-name="busqueda">
   

    <div class="navbar navbar-transparent">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
          <div class="left">
            <a class="link back">
              <i class="icon icon-back"></i>
              <span class="if-not-md">Atrás</span>
            </a>
          </div>
          <div class="title">Fixed Navbar</div>
        </div>
      </div>



<div class="page-content bgbusqueda">

     
 <div class="backgroundbusqueda"></div>            

    
    <div class="page">
        

        <div class="page-content">

          

            <!-- Searchbar backdrop -->
          <div class="searchbar-backdrop"></div>
          <!-- hide-on-search element -->
          <div class="block searchbar-hide-on-search">
            <p style="margin-top: 150px;"; style="font-family: cursive;">Estás a un paso de encontrar el hogar de tus sueños...</p>
          </div>



            <!-- Searchbar with auto init -->
            <form class="searchbar">
                <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Ingresa una ubicación">
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                <a href="/filtro1/" class="col button button-fill color-blue"  >Buscar</a>

                </div>
            </form>



        
        </div>
      </div>


</div>
</div>