<div class="page" data-name="perfil">
   

    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          
          <div class="title">Perfil</div>
          <div class="right"></div>
        </div>
      </div>
  
  
  
  
  
  <div class="page-content">
  
  <div class="block">
  <div class="login-screen-title">Perfil</div>
  
  
  
  
    <div class="row">
  
      <div class="col" >
  
        <input type="text" name="username" id="usuariop" placeholder="Username">      
  
      </div>
  
    </div>
  
  


    <div class="row">
  
      <div class="col" >
        
        <input type="password" name="password" id="passwordp" placeholder="Password">
  
      </div>
  
    </div>
  
  


    <div class="row">
  
        <div class="col" >
          
          <input type="text" name="nombre" id="nombrep" placeholder="Tu nombre">
    
        </div>
    
      </div>




      <div class="row">
  
        <div class="col" >
          
          <input type="text" name="apellidos" id="apellidosp" placeholder="Tus apellidos">
    
        </div>
    
      </div>





      <div class="row">
  
        <div class="col" >
          
          <input type="text" name="correo" id="correop" placeholder="Tu correo">
    
        </div>
    
      </div>




      <div class="row">
  
        <div class="col" >
          
          <input type="text" name="telefono" id="telefonop" placeholder="Tu teléfono">
    
        </div>
    
      </div>






    <div class="row" tyle="margin-top: 20px;">
  
      <div class="col" >
        
        <button class="col button button-outline" onclick="Actualizar()">Actualizar</button>
      </div>
  
    </div>
  
  
    <div class="row">
  
      <div class="col" style="margin-top: 20px;">
        
        <p> <a href=/home/ class="col button button-outline">Cancelar</a></p>
  
      </div>
  
    </div>   
  
  </div>
  
  </div>
  </div>
  