<div class="page" data-name="vender">
 
    <div class="navbar navbar-transparent">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
          <div class="left">
            <a class="link back">
              <i class="icon icon-back"></i>
              <span class="if-not-md">Atrás</span>
            </a>
          </div>
          <div class="title">Fixed Navbar</div>
        </div>
      </div>

    <div class="page-content">
    
      <div class="block">
        <div class="login-screen-title">Vende o Renta</div>
    
    <div class="row">
    
        <div class="col" style="margin-top: 5px; margin-left: 20px;">
    
          <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">¿Quieres vender o rentar tu propiedad?</p>     
          <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">Por favor, llena el siguiente formulario</p>     

    
        </div>
    
      </div>
    
    
      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
    
          <!--<div class="item-title item-label">Nombre</div>-->
          <input type="text" name="nombre" id="nombre" placeholder="Nombre">      
    
        </div>
    
      </div>
    
    
      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos">
    
        </div>
    
      </div>



      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="telefono" id="telefono" placeholder="Teléfono">
    
        </div>
    
      </div>



      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="correo" id="correo" placeholder="Correo Electrónico">
    
        </div>
    
      </div>



      <p class="row" style="margin-top: 20px; margin-left: 20px;" >
        <button class="col button button-large button-raised button-fill">Venta</button>
        <button class="col button button-large button-raised button-fill">Renta</button>
      </p>



      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="descripcion" id="descripcion" placeholder="Descripción de propiedad">
    
        </div>
    
      </div>


      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="ubicacion" id="ubicacion" placeholder="Ubicación">
    
        </div>
    
      </div>



      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="precio" id="precio" placeholder="Precio o valor estimado">
    
        </div>
    
      </div>



      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;">
          
         <!-- <div class="item-title item-label">Apellidos</div>-->
          <input type="text" name="superficie" id="superficie" placeholder="Superficie de propiedad (metros cuadrados)">
    
        </div>
    
      </div>
  
  
     
  
    
    
      <div class="row">
    
        <div class="col" style="margin-top: 20px; margin-left: 20px;" >
          
          <button class="col button button-raised button-fill button-round" onclick="Vender()">Enviar</button>
        </div>
    
      </div>
    
  
  </div>
  
    
    
    </div>
    </div>
    